@using TestMaker.TestPlayer.Models.User
@{
    ViewData["Title"] = "Home Page";
}

@model LoginRequest

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="position: relative">
        <a class="btn btn-outline-primary btn-sm"
           style="cursor: pointer; position: absolute; left: 3px"
           asp-action="Index" asp-controller="Home">Quay lại</a>
        <div class="container text-center justify-content-center">
            <span>Đăng nhập</span>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        <div class="text-center">
            <form asp-action="Index" asp-controller="Login" method="post" class="col-md-2" style="margin: 0 auto">
                <div class="form-group">
                    <label for="email">Tài khoản</label>
                    <input asp-for="UserName" type="text" style="text-align: center" class="form-control js__user-name">
                </div>
                <div class="form-group">
                    <label for="pwd">Mật khẩu</label>
                    <input asp-for="Password" as type="password" style="text-align: center" class="form-control js__password">
                </div>
                <button type="submit" class="btn btn-primary js__login">Đăng nhập</button>
            </form>
        </div>
    </main>
</div>
